* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header,
footer {
  background-color: #1F2937;
}

.hero {
  width: 75%;
  margin: auto;
}

nav {
  display: flex;
  flex: 1;
  align-items: center;
}

.links,
.header-logo {
  color: #F9FAF8;
  text-decoration: none;
}

.links {
  font-size: .75em;
  padding: 5px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  font-size: 24px;
  flex-grow: 3;
  font-weight: 700;
}
.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.hero-right img {
  width: 400px;
  height: auto;
}

.random-info {
  width: 66%;
  margin: 25px auto 100px auto;
}

.some-random {
  font-weight: 700;
  font-size: 32px;
  padding: 1em;
  text-align: center;
}

.random-img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  border: 3px solid #3882F6;
}

.random-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.random-images p {
  padding-top: 5px;
}

.img-seg {
  display: flex;
  flex-direction: column;
  width: 125px;
  font-size: .7em;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  border-radius: 5px;
  padding: .5em 2em;
  border: none;
  font-weight: bold;
}

.hero button {
  margin-top: 1em;
}

.call-to-action button {
  border: 2px solid white;
}

button,
.call-to-action {
  background-color: #3882F6;
}

.call-to-action {
  display: flex;
  align-items: center;
  height: 125px;
  width: 75%;
  margin: 100px auto;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
}

.left-call {
  flex-direction: column;
  padding: 5%;
  flex-grow: 1;
}

.right-call {
  flex: 1;
  flex-shrink: 1;
}

.quote {
  background-color: #E5E7EB;
  padding: 10% 20%;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  color: #1F2937;
}

#attrib {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5%;
  padding: 50px 0;
  font-size: .9em;
}